.crisis-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  background-color: #f44336;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.title {
  font-size: 2rem;
  margin-top: 0rem;
  margin-bottom: 10px;
  text-align: center;
}

.text {
  font-size: 1.2rem;
  margin: 5px 0;
  text-align: center;
}

.phone {
  font-size: 1.2rem;
  margin: 5px 0;
  text-align: center;
}

.lifeline-link {
  text-decoration: none;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.visit-button {
  background-color: white;
  color: #f44336;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.visit-button:hover {
  background-color: #e0e0e0;
  color: #f44336;
}

/*Mobile size*/
@media (max-width: 767px) {
  .crisis-box {
    padding: 6px;
    font-size: 10px;
    border-radius: 5px;
  }

  .title {
    font-size: 1rem;
    margin-bottom: 3px;
  }

  .text,
  .phone {
    font-size: 0.8rem;
    margin: 2px 0;
  }

  .visit-button {
    padding: 4px;
    font-size: 0.6rem;
  }
}
