/* NavBar.css */
.custom-navbar {
  background-color: rgba(14, 165, 197);
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  max-height: 50px;
}

.nav-link {
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  transition: color 0.3s, box-shadow 0.3s;
}

.nav-link:hover {
  color: #ffd700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

@media (min-width: 992px) {
  .navbar-nav {
    font-size: 1.3rem;
    margin-left: auto;
  }
}
