/* NavBar.css */
.custom-navbar {
  background-color: rgba(14, 165, 197);
  color: rgb(255, 255, 255);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1rem 0;
}

.custom-navbar .navbar-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.custom-navbar .navbar-nav .nav-link {
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  transition: background-color 0.3s, border-radius 0.3s;
  text-decoration: none;
}

.custom-navbar .navbar-nav .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.logo {
  width: 250px; /* Adjust the width as needed */
  height: auto;
  display: block;
  margin: 0 auto; /* Add margin to center-align the logo horizontally */
}