/* quiz.css */
.content {
  text-align: center;
  padding: 2rem 0;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1rem auto;
}

.quiz-section {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.8rem;
  background-color: rgba(14, 165, 197);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: background-color 0.3s;
  margin-bottom: 1.5rem;
}

.quiz-section.answered {
  background-color: rgba(176, 217, 238);
}

.quiz-question {
  flex: 1;
  max-width: 38%;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.option {
  background-color: #fff;
  border: 0px solid #ddd;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.option.selected {
  background-color: rgba(14, 165, 197);
}

.color-square {
  width: 80px;
  height: 20px;
  background-color: #d05151;
  border-radius: 8px;
  margin-left: auto;
}

.graph-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding-left: 1rem;
}

.quiz-pie-chart {
  display: flex;
  align-items: center;
}

.pie-chart-guide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

.pie-chart-guide-item {
  display: flex;
  align-items: center;
  margin: 0.8rem 0;
  font-size: 1.rem;
}

.guide-color {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  border-radius: 8px;
}

.info-box {
  background-color: rgba(176, 217, 238);
  padding: 0.8rem;
  border-radius: 8px;
  margin-top: 0.rem;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.info-box p {
  margin: 0;
  line-height: 2;
  margin-bottom: 1.5rem;
}

/* Mobile version */
@media (max-width: 767px) {
  .quiz-container {
    width: 100%;
    margin: 1rem auto;
    padding: 0 10px;
  }

  .quiz-section {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }

  .quiz-question {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .options {
    gap: 0.5rem;
  }

  .option {
    padding: 0.4rem;
    font-size: 0.9rem;
  }

  .graph-box {
    width: 100%;
    padding-left: 0;
    padding-top: 0.5rem;
    margin-top: 0;
  }

  .quiz-pie-chart {
    flex-direction: column;
  }

  .pie-chart-guide {
    margin-top: 0.3rem;
  }

  .pie-chart-guide-item {
    margin: 0.4rem 0;
    font-size: 0.9rem;
  }

  .info-box {
    margin-top: 1rem;
    padding: 0.6rem;
    font-size: 0.9rem;
  }
}
