/* FAQ.css */
.content {
  text-align: center;
  padding: 2rem 0;
}

.FAQ-section {
  max-width: 1000px;
  margin: 0 auto;
}

.question-wrapper {
  background-color: rgba(14, 165, 197, 255); 
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.question {
  font-size: 1.2rem;
  color: #ffffff;
  flex: 1;
}

.arrow {
  font-size: 1.5rem;
  transition: transform 0.3s;
}

.question.open .arrow {
  transform: rotate(180deg);
}

.answer {
  display: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.answer.active {
  display: block;
}

.answer-content {
  background-color: rgba(176, 217, 238);
  color: #000000;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 10px;
  line-height: 2rem;
}
