/* Footer.css */

.footer {
  background-color: rgba(14, 165, 197);
  color: white;
  text-align: center;
  padding: 0.5rem 0;
}

.content {
  margin: 0 auto;
  padding: 1rem; /* Add padding to provide spacing from the edges */
}

.paragraph {
  margin-bottom: 1.5rem;
}

.copyright {
  font-size: 0.9rem;
  opacity: 0.7;
}
