.home-content {
  text-align: center;
  padding: 3rem 6%;
}

.question-box {
  background-color: rgba(14, 165, 197, 0.8);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease-out;
  min-height: 150px;
}

.answer-button {
  background-color: white;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  margin: 0.4rem;
  border-radius: 8px;
  cursor: pointer;
  width: 300px;
  height: 40px;
  outline: none;
}

.answer-button.selected {
  background-color: rgba(176, 217, 238, 1);
}

.poll-slider {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
}

.slider-fill {
  height: 100%;
  background-color: green;
  border-radius: 5px;
}

.solution-box {
  background-color: rgba(14, 165, 197, 0.8);
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease-out;
}

.info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.datasets {
  width: 60%;
  background-color: rgba(176, 217, 238, 0.8);
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.messages-section {
  width: 30%;
  background-color: rgba(14, 165, 197, 0.8);
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.message {
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  display: block;
}

.message-box {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.poll-results {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.poll-result-box {
  flex: 1;
  background-color: rgba(14, 165, 197, 0.8);
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Responsible-Alcohol-Consumption {
  display: flex;
  align-items: flex-start;
  margin-top: 0rem;
}

.Alcohol-Quiz {
  width: 40%;
  margin-right: 2rem;
  padding: 1rem;
  background-color: rgba(14, 165, 197, 255);
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.Correct-Consumption {
  width: 60%;
  padding: 1rem;
  background-color: rgba(176, 217, 238, 0.8);
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
}

.Alcohol-Quiz .quiz-option {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.Alcohol-Quiz .quiz-option.selected {
  background-color: rgba(14, 165, 197, 255);
}

.Alcohol-Quiz .quiz-result {
  margin-top: 1rem;
  background-color: rgba(176, 217, 238, 255);
  padding: 0.8rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.Correct-Consumption p {
  margin: 0;
  line-height: 1.75;
  margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
  .home-content {
    text-align: center;
    padding: 2rem 5%;
    width: 90%;
    margin: 0 auto;
  }

  .datasets {
    width: 90%;
  }

  .messages-section {
    display: none;
  }

  .Responsible-Alcohol-Consumption {
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }

  .Alcohol-Quiz {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .Correct-Consumption {
    width: 100%;
    margin: 0;
  }

  .Alcohol-Quiz .quiz-option {
    margin-bottom: 0.5rem;
  }

  .Alcohol-Quiz .quiz-result {
    margin-top: 1rem;
  }

  .Correct-Consumption p {
    margin-bottom: 1rem;
  }
}
