.content {
  text-align: center;
  padding: rem 0;
}

.stories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto;
}

.user-story {
  width: 100%;
  padding: 0.5rem 1rem 1rem; /* Adjust the padding values as needed */
  background-color: rgba(176, 217, 238); /* Change to the desired color */
  border-radius: 8px;
  margin-bottom: 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.user-name {
  font-size: 1.2rem;
  margin-bottom: 0.2rem; /* Adjust the margin as needed */
}

.user-story p {
  text-align: center; /* Center the paragraphs */
  line-height: 2; /* Increase the line-height for more spacing between lines */
  margin: 0;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.home-content p {
  line-height: 2;
  margin-bottom: 1rem;
}

.add-story-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(14, 165, 197, 0.8);
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

